* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {

    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: left;
    background-color: #fff;
}


/* header */
.fixed-top {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
}

header {
    background-color: #fff;
    padding: 0px;
    transition: all 0.4s ease 0s;
    height: 90px;
    display: grid;
    align-items: center;
    box-shadow: 0 3px 9px rgb(0 0 0 / 5%);
}

.navbar .navbar-brand {
    margin: 0;
    padding: 0;
    font-size: 26px;
    font-weight: 700;
    text-transform: capitalize;
    color: #dc4f72;
    letter-spacing: -1px;
}

.navbar-expand-lg .navbar-nav .nav-item {
    padding: 0 15px;
    transition: all 0.5s ease;
    position: relative;
}

.navbar-expand-lg .navbar-nav .nav-item.active .nav-link {
    color: #dc4f72;
}

.navbar-expand-lg .navbar-nav .nav-link:hover {
    color: #dc4f72;
}

.navbar-expand-lg .navbar-nav .nav-link {
    text-transform: capitalize;
    transition: all 0.5s ease;
    padding: 14px 0;
    font-size: 16px;
    font-weight: 400;
    color: #2c3038;
}

.fa-angle-down:before {
    line-height: 12px;
    font-size: 10px;
    content: "\f107";
}

a.dropdown-item:hover {
    color: #dc4f72;
}

.theme-button {
    transition: 0.3s ease-out;
    display: inline-block;
    line-height: 52px;
    font-weight: 700;
    font-size: 14px;
    margin: 0px;
    padding: 0px 30px;
    text-transform: uppercase;
}

.btn-outline-primary {
    color: #dc4f72;
    border-color: #dc4f72;
}

.btn-outline-primary:hover {
    color: #fff;
    background-color: #dc4f72;
    border-color: #dc4f72;
}

a.nav-link:before,
a.dropdown-item:before {
    position: absolute;
    content: '';
    background: #dc4f72;
    width: 0px;
    height: 2px;
    bottom: 13px;

}


.navbar-expand-lg .navbar-nav .nav-link:hover:before,
a.dropdown-item:hover:before {
    width: 20px;
    transition: all .5s;
}

@media only screen and (max-width: 767px) {

    #site-footer .copyright,
    #site-footer ul.footer-menu {
        text-align: center;
    }
}

@media only screen and (max-width: 480px) {
    .navbar-brand img {
        max-width: 200px;
    }
}

@media only screen and (max-width: 991px) {
    .w3l-top-header {
        position: relative;
        height: 73px;
    }
}

/* banner */
.w3l-index1 {
    margin-top: 90px;
}

.w3l-index1 .content {
    position: relative;
    z-index: 1;
    overflow: hidden;
    background: #ffffff;
    background-image: linear-gradient(to right, #fff, rgba(255, 255, 255, 0.92)), url(../img/banner.jpg);
    background-repeat: no-repeat, no-repeat, no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    display: grid;
    align-items: center;
    padding-top: 5rem;
}

.w3l-index1 .content-photo img {
    transform: rotate(180deg);
}

.w3l-index1 .content-left h3 {
    font-size: 50px;
    line-height: 57.5px;
    color: var(--title-color);
    font-weight: 700;
}

.w3l-index1 .content-left p {
    color: var(--text-color);
    font-size: 20px;
    line-height: 28px;
    font-weight: 400;
    max-width: 450px;
}

@media (max-width: 992px) {
    .w3l-index1 .content-photo img {
        display: block;
    }
}

@media (max-width: 568px) {
    .w3l-index1 .content-left h3 {
        font-size: 40px;
        line-height: 45px;
    }
}

@media (max-width: 375px) {
    .w3l-index1 .content-left h3 {
        font-size: 35px;
    }
}

@media (max-width: 992px) {
    .w3l-index1 {
        margin-top: 70px;
    }
}

/* 
   */
.w3l-index2 .s-block {
    border-radius: var(--card-curve);
    transition: 0.3s ease-in;
    background: #f7f9fc;
    padding: 3rem 2rem;
    border: 1px solid #f7f9fc;
}

.w3l-index2 .s-block:hover {
    transition: 0.3s ease-in;
    background-color: #ffffff;
    border: 1px solid #eee;
    box-shadow: var(--card-hover-box-shadow);
    transform: var(--transformY);
}

.w3l-index2 .s-block h3 {
    color: #2c3038;
    font-size: 26px;
    line-height: 35px;
    font-weight: 700;
}

.w3l-index2 .s-block p {
    color: #5a5a5a;
    margin-top: 15px;
    font-size: 16px;
    line-height: 24.5px;
}

.s-block a {
    text-decoration: none;
}

.sub-title {
    font-size: 16px;
    line-height: 20px;
    font-weight: 700;
    color: #dc4f72;
    text-transform: uppercase;
    margin-bottom: 5px;
}

.header-section h3 {
    color: #212529;
    font-size: 46px;
    line-height: 1;
    font-weight: 700;
}

.header-section p {
    color: #5a5a5a;
    font-size: 16px;
    line-height: 22.5px;
    font-weight: 400;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5px;
}

/* about */

.w3l-index3 {
    background-color: #f7f9fc
}

.w3l-index3 .book-info h3 {
    font-size: 35px;
    line-height: 40px;
    color: #2c3038;
    font-weight: 700;
}

.w3l-index3 .book-info p {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    color: #5a5a5a;
    line-height: 24.4px;
}


.sub-title {
    font-size: 16px;
    line-height: 20px;
    font-weight: 700;
    color: #dc4f72;
    text-transform: uppercase;
    margin-bottom: 5px;
}

.theme-button {
    transition: 0.3s ease-out;
    display: inline-block;
    line-height: 52px;
    font-weight: 700;
    font-size: 14px;
    margin: 0px;
    padding: 0px 30px;
    text-transform: uppercase;
}

.btn-primary {
    color: #fff;
    background-color: #dc4f72;
    border-color: #dc4f72;
}

.btn-primary:hover {
    color: #fff;
    background-color: #d62f58;
    border-color: #cf2952;
}

/* number */

.w3l-stats {
    background: #f7f9fc;
}

.numberr p.counter {
    font-size: 50px;
    line-height: 1;
    color: #dc4f72;
    margin-bottom: 0;
    font-weight: 700;
    margin-bottom: 15px;
    margin-top: 10px;
}

.numberr .stats_info h4 {
    font-size: 16px;
    line-height: 24.5px;
    text-transform: capitalize;
    color: #2c3038;
    font-weight: 700;
}

.numberr .stats_info {
    background-color: #fff;
    padding: 25px 21px;
    border-radius: 5px;
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .15) !important;
    transition: 0.3s ease;
    border: 1px solid #eee;
}

.numberr .stats_info:hover {
    box-shadow: var(--card-hover-box-shadow);
    transition: 0.3s ease;
}

.stats_info p {
    color: #5a5a5a;

}

@media (max-width: 992px) {
    .numberr p.counter {
        font-size: 40px;
        line-height: 50px;
    }

    .numberr .stats_info h4 {
        font-size: 18px;
    }
}

@media (max-width: 737px) {
    .numberr .stats_info h4 {
        font-size: 17px;
    }
}

/* 
 */
.number .new-block {
    background-size: cover;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.33)), url(../img/bg.jpg);
    background-repeat: no-repeat, no-repeat, no-repeat;
    background-position: center;
    background-attachment: fixed;
    min-height: 480px;
    display: grid;
    align-items: center;
    padding: 2rem 0;
}

.number .middle-section {
    max-width: 550px;
}

.number .middle-section h2 {
    color: #ffffff;
    font-size: 30px;
    line-height: 36px;
    font-weight: 700;
}

.number .link-list-menu p {
    font-size: 16px;
    color: #eee;
    line-height: 24.5px;
}

@media (max-width: 800px) {
    .number .middle-section a {
        margin-top: 40px;
    }
}

@media (max-width: 667px) {
    .number .link-list-menu {
        max-width: 523px;
    }

    .number .middle-section a {
        margin-top: 30px;
    }

    .number .link-list-menu p {
        font-size: 15px;
        line-height: 22px;
    }
}

@media (max-width: 440px) {
    .number .middle-section h2 {
        font-size: 26px;
    }
}

@media (max-width: 384px) {
    .number .middle-section a {
        margin-top: 25px;
    }
}

@media (max-width: 320px) {
    .number .link-list-menu {
        width: 281px;
    }
}

/* neww */
.new-index5 .grids5-info {
    border-radius: var(--card-curve);
    transition: 0.3s ease-in;
    display: block;
    height: 100%;
    background: #fff;
    border: 1px solid #eee;
}

.new-index5 .grids5-info:hover {
    box-shadow: var(--card-hover-box-shadow);
    transform: var(--transformY);
}

.new-index5 a.zoom {
    overflow: hidden;
    position: relative;
}

.new-index5 a.zoom img {
    transition: 0.3s ease-in-out;
    -webkit-filter: grayscale(1);
    filter: grayscale(1);
}

.new-index5 .grids5-info:hover a.zoom img {
    overflow: hidden;
    -webkit-filter: grayscale(0);
    filter: grayscale(0);
    transition: 0.3s ease-in-out;
}

.new-index5 .blog-info {
    background: #fff;
    padding: 30px 20px;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
}

.new-index5 .grid-view img.news-image {
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
}

.new-index5 .grid-view a.zoom {
    border-top-left-radius: var(--card-curve);
    border-top-right-radius: var(--card-curve);
}

.new-index5 .grid-view .grids5-info h4 a {
    font-size: 22px;
    line-height: 27px;
    color:#2c3038;
    display: block;
    font-weight: 600;
    text-decoration: none;
}

.new-index5 .grids5-info:hover div.blog-info h4 a {
    color: #dc4f72;
}

.new-index5 .grid-view .grids5-info h4 a:hover {
    color: #dc4f72;
}

.new-index5 .grid-view .grids5-info p {
    font-size: 16px;
    line-height: 24.5px;
    
    margin-top: 15px;
    border-bottom: 1px solid #eee;
    padding-bottom: 20px;
    margin-bottom: 20px;
}

.new-index5 .grid-view p.date {
    font-size: 18px;
    color: #fff;
    font-weight: 700;
    border-bottom: none;
    padding-bottom: 0px;
    position: absolute;
    top: 0;
    background: #dc4f72;
    padding: 15px;
    margin-bottom: 0;
    right: 0;
    margin-top: 0;
}

.new-index5 .grid-view .grids5-info img {
    width: 100%;
    display: block;
}

.new-index5 a.btn-news {
    padding: 0;
    color: #dc4f72;
    transition: 0.3s ease-in-out;
    border-radius: 0;
    position: relative;
    display: inline-block;
    font-size: 16px;
    font-weight: 600;
}

.new-index5 a.btn-news span {
    font-size: 60%;
    vertical-align: middle;
    padding-left: 0px;
    position: absolute;
    right: -13px;
    top: 7.5px;
    transition: 0.3s ease-in;
}
.new-index5 .grid-view .grids5-info h4 a:hover {
    color: #dc4f72  ;
}

.new-index5 label.tag-label {
    padding: 5px 16px;
    display: inline-block;
    border-radius: 25px;
    font-size: 13px;
    font-weight: 600;
    margin-bottom: 15px;
}

.new-index5 label.tag-label.red {
    background: rgba(238, 97, 120, 0.2);
    color: var(--primary);
}

.new-index5 label.tag-label.green {
    background: rgba(0, 128, 0, 0.2);
    color: #008000;
}

.new-index5 label.tag-label.blue {
    background: rgba(0, 0, 255, 0.2);
    color: #0000ff;
}

.new-index5 a.btn-news:hover {
    transition: 0.3s ease-in-out;
    color: var(--primary);
}

.new-index5 a.btn-news:hover span.fa {
    right: -16px;
    transition: 0.3s ease-in;
}

.new-index5 .grids5-info:hover a.btn-news span.fa {
    right: -16px;
    transition: 0.3s ease-in;
}

@media all and (max-width: 768px) {
    .w3l-index5 .grids5-info h4 a {
        font-size: 20px;
        line-height: 25px;
    }
}

@media all and (max-width: 568px) {
    .w3l-index5 .grids5-info p {
        margin-top: 12px;
    }
}

@media all and (max-width: 414px) {
    .w3l-index5 .grids5-info h4 a {
        font-size: 23px;
    }
}

@media all and (max-width: 384px) {
    .w3l-index5 .grids5-info h4 a {
        font-size: 22px;
    }
}
